  
.subscribe-button {
    background-color: rgb(223, 3, 3);
    color: white;
    padding-left: 16px;
    padding-right: 16px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 2px;
    cursor: pointer;
    border: none;
    margin-right: 8px;
    transition: opacity 0.15s;
    vertical-align: top;
}
.subscribe-button:hover {
  opacity: 0.7;
}
.subscribe-button:active {   
    opacity: 0.15s;
}